:root {
    --primary-color: #4B0082; /* Roxo */
    --secondary-color: #6A0DAD; /* Roxo mais claro */
    --light-gray: #F5F5F5;
    --dark-gray: #333;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

/* Estilização global de botões */
.btn-animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-animated:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Cabeçalho */
.bg-primary-custom {
    background-color: var(--primary-color) !important;
}

/* Animação de digitação */
#typing-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.typing {
    display: inline-block;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content; /* Ajusta a largura do texto dinamicamente */
    animation: typing 2s steps(30, end) infinite alternate-reverse;
}

@keyframes typing {
    from { width: 0; }
    to { width: 32%; }
}

/* Carrossel de Projetos */
.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Transforma a cor branca em preta */
}

.carousel-item {
    text-align: center;
}

.card {
    margin: auto;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Seção de habilidades */
#habilidades ul {
    list-style: none;
    padding: 0;
}

#habilidades ul li {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
}

/* Seção de Contato */
#contato a {
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#contato a:hover {
    color: var(--secondary-color);
}
